body {
    background-color: #edece2; /* Cor de fundo clara semelhante ao da imagem */
    margin: 0;
    padding: 0;
}


h1 {
    text-align: center;
    color: #0c3101; /* Texto em cor neutra */
}


.container {
    width: calc(100vw- 100px);
    height: calc(100vh - 150px);
    display: flex;
    justify-content: center;
}

.tipo-pessoa {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.radio {
    width: 500px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-radio {
    width: 100%;
    font-size: 20px;
    display: flex;
    align-content: center;
    margin-top: 5px;
    margin-left: -45px;
    color: #145400;
}

.radin {
    margin-top: 20px;
}

.form {
    width: 60vw;
    height: 75vh;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#form-pessoa-fisica, #form-pessoa-juridica{
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.campo {
    width: 400px;
    height: 80px;
}

.especial {
    text-align: center;
    width: 500px;
}

label {
    font-size: 20px;
    display: block;
    font-weight: bold;
    color: #145400; /* Verde escuro para as labels */
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="radio"],
select  {
    width: 90%; /* Reduzindo a largura dos inputs */
    height: 30px;
    padding: 8px; /* Diminuindo o padding */
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 18px;
}

input[type="submit"] {
    width: 200px;
    height: 60px;
    background: #145400; /* Verde escuro semelhante ao da barra superior da imagem */
    color: white;
    border: none;
    border-radius: 10px;
    margin: 10px 15px;
    cursor: pointer;
    font-size: 17px;
}

input[type="submit"]:hover {
    background: #228d02; /* Verde mais claro para o efeito de hover */
}

.error-message {
    color: red;
    text-align: center;
    font-size: 30px;
    margin-bottom: -20px;
    margin-top: 20px;
}

.success-message {
    color: green;
    text-align: center;
    font-size: 30px;
    margin-bottom: -20px;
    margin-top: 20px;
}

.form-section {
    display: none;
    margin-top: 20px;
}

select {
    height: 50px;
}

