h1, h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 2.5em;
}

h2 {
    color: #007bff;
    font-size: 2em;
    margin-top: 40px;
}

/* Estilos para a lista de clientes */
.cliente {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cliente h3 {
    font-size: 1.8em;
    color: #333;
    margin-bottom: 10px;
}

.cliente p {
    font-size: 1.2em;
    color: #555;
    margin-bottom: 8px;
}

/* Estilos para a tabela de eventos */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
}

td {
    background-color: #fff;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Estilos para o rodapé de eventos */
h4 {
    color: #007bff;
    font-size: 1.5em;
    margin-top: 20px;
}

/* Adicionando um efeito hover */
table tr:hover {
    background-color: #f1f1f1;
}    