.canvas {
    width: 100vw; 
    height: calc(100vh - 100px);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.chart{ 
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70vw;
    height: 70vh;
}