body {
    background-color: #1B6C00;
}

.container {
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.redondo {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sub-container {
    background-color: rgb(234, 231, 231);
    height: 300px;
    width: 300px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.logo {
    display: flex;
    justify-content: center;
    margin-top: -100px;
}

.bem_vindo {
    text-align: center;
    margin-bottom: 30px;
    color: #1B6C00;
}

.infos {
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: #1B6C00;
}

.user {
    width: 250px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
    border-radius: 50px;
}

.password {
    width: 250px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
    border-radius: 50px;
}

label {
    width: 50px;
    text-align: center;
    display: block;
}

.password input {
    margin-right: 20px;
}

input {
    width: 120px;
    border-radius: 10px;
    margin-left: 20px;
    border: 2px solid #145400;
    border-radius: 50px;
}

button {
    color: white;
    width: 150px;
    border-radius: 50px;
    border: 3px solid #145400;
    background-color: #1B6C00;
}